{% extends 'layout_superadmin.html.twig' %}

{% block title %}Attribuer les rôles{% endblock %}

{% block content %}
<main class="container my-5">
    <h1>Attribuer un rôle à {{ user.firstname }} {{ user.lastname }}</h1>
    <div class="container border border-1 border-dark rounded my-5">
        <div class="my-3">
            {{ form_start(userForm) }}
                {{ form_errors(userForm.roles) }}
                {{ form_label(userForm.roles, 'Rôles:') }}
                {{ form_widget(userForm.roles) }}
            {{ form_end(userForm) }}
        </div>
    </div>
</main>

<p class= "text-uppercase fw-bold fst-italic"><a href="{{ path('superadmin_show_users') }}" class="btn btn-success text-dark"><i class="bi bi-arrow-counterclockwise text-dark"></i> Retour liste des utilisateurs</a></p>

{% endblock %}