{% extends 'layout_superadmin.html.twig' %}

{% block title %}Tous les Coachs{% endblock %}

{% block content %}

    <h1 class="my-5">Tous les Coachs</h1>

    <table class="table text-center bg-light">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Coachs</th>
                <th scope="col">Activité</th>
                <th scope="col">Budget</th>
                <th scope="col">Disponibilités</th>
                <th scope="col">Clients</th>
            </tr>
        </thead>
        <tbody>
            {% for coach in coachs %}
                <tr>
                    <td scope="row">{{ coach.id }}</td>
                    <td>{{ coach.user.firstname }} {{ coach.user.lastname }}</td>
                    {% for activity in coach.activities %}
                        <td>{{ activity.name }}</td>
                    {% endfor %}
                    <td>{{ coach.hourlyrate }}</td>
                    <td>
                        {% for availability in coach.availabilities %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ availability.weekday.name }} {{ availability.startTime|format_time() }} - {{ availability.endTime|format_time() }} </li>
                        </ul>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}