{% extends 'layout_superadmin.html.twig' %}

{% block title %}
  Clients
{% endblock %}

{% block content %}

    <h1 class="my-5">
      Gérer les Clients
    </h1>
    <div class="row mt-2 mb-2">
        <div class="col-10"><i class="bi bi-exclamation-circle-fill"></i> Recherche par nom ou prénom :
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        </div>
        <div class="col-4">
          <button class="btn btn-success text-white"><i class="bi bi-search text-white"></i> Rechercher</button>
          {{ form_end(form) }}
        </div>
    </div>
    <table class="table text-center bg-light mt-5">
      <thead>
        <tr>
          <th scope="col" class=" bg-dark text-white">
            Client
          </th>
          <th scope="col" class=" bg-dark text-white">
            Date de naissance
          </th>
          <th scope="col" class=" bg-dark text-white">
            Activité
          </th>
          <th scope="col" class=" bg-dark text-white">
            Contact
          </th>
          <th scope="col" class=" bg-dark text-white">
            Coach
          </th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
          <tr>
            <td>
              {{ client.user.firstname }} {{ client.user.lastname }}
            </td>
            <td>
              {{ client.birthdate|date("d/m/Y") }}
            </td>
            {% if client.activity is not null %}
            <td>
                {{ client.activity.name }}
              </td>
            {% else %}
              <td>
                Aucune
            </td>
            {% endif %}
            <td>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ client.user.email }} </li>
                <li class="list-group-item">{{ client.user.telephone }} </li>
              </ul>
            </td>
            {% if client.coachbooking is null or client.coachbooking.coach is null %}
              <td class = "fw-bold">
                Aucun coach
              </td>
            {% else %}
              <td>
                {{ client.coachbooking.coach.user.firstname }}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class= "text-uppercase fw-bold fst-italic"><a href="{{ path('superadmin_index') }}" class="btn btn-success text-dark"><i class="bi bi-arrow-counterclockwise text-dark"></i> Retour espace admin</a></p>
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
