{% extends 'layout_superadmin.html.twig' %}

{% block title %}
  Clients
{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="my-5">
      Gestion des Clients
    </h1>

    <div class="row mt-2 mb-2">
        <div class="col-10"><i class="bi bi-exclamation-circle-fill"></i> Recherche par nom ou prénom :
        </div>
    </div>
    <div class="row mt-2 mb-2">
        <div class="col-6">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        </div>
        <div class="col-4">
          <button class="btn btn-success text-white"><i class="bi bi-search text-white"></i> Rechercher</button>
          {{ form_end(form) }}
        </div>
    </div>

    <table class="table text-center bg-light">
      <thead>
        <tr>
          <th scope="col" class=" bg-dark text-white">
            Client
          </th>
          <th scope="col" class=" bg-dark text-white">
            Activité
          </th>
          <th scope="col" class=" bg-dark text-white">
            Budget
          </th>
          <th scope="col" class=" bg-dark text-white">
            Disponibilité
          </th>
          <th scope="col" class=" bg-dark text-white">
            Coach
          </th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
          <tr>
            <td>
              {{ client.user.firstname }} {{ client.user.lastname }}
            </td>
            {% if client.activity is not null %}
              <td>
                {{ client.activity.name }}
              </td>
            {% else %}
              <td>
                Aucune
              </td>
            {% endif %}
            {% if client.budget is not null %}
              <td>
                {{ client.budget }} €
              </td>
            {% else %}
              <td>
                Aucun
              </td>
            {% endif %}
            <td>
              {% if client.availabilities is not null %}
                {% for availability in client.availabilities %}
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      {{ availability.weekday.name }}
                      {{ availability.startTime|format_time }} - {{ availability.endTime|format_time }}
                    </li>
                  </ul>
                {% endfor %}
              {% else %}
                Aucune
              {% endif %}
            </td>
            {% if client.coachbooking is null or client.coachbooking.coach is null %}
              <td class = "fw-bold">
                Aucun coach
              </td>
            {% else %}
              <td>
                {{ client.coachbooking.coach.user.firstname }}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <p class= "text-uppercase fw-bold fst-italic"><a href="{{ path('superadmin_index') }}" class="btn btn-success text-dark"><i class="bi bi-arrow-counterclockwise text-dark"></i> Retour espace admin</a></p>

  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
{% endblock %}
