{% extends 'layout_superadmin.html.twig' %}

{% block title %}Tous les Coachs{% endblock %}

{% block content %}

    <h1 class="my-5">Tous les Coachs</h1>

    <div class="mt-2 mb-2 d-flex justify-content-end">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="mt-2 mb-2 d-flex justify-content-end">
            <button class="btn btn-success text-white">Rechercher</button>
        {{ form_end(form) }}
        </div>
    </div>

    <table class="table text-center bg-light">
        <thead>
            <tr>
                <th scope="col">Coachs</th>
                <th scope="col">Activité</th>
                <th scope="col">Budget</th>
                <th scope="col">Disponibilités</th>
                <th scope="col">Clients</th>
            </tr>
        </thead>
        <tbody>
            {% for coach in coachs %}
                <tr>
                    <td>{{ coach.user.firstname }} {{ coach.user.lastname }}</td>
                    {% for activity in coach.activities %}
                        <td>{{ activity.name }}</td>
                    {% endfor %}
                    <td>{{ coach.hourlyrate }}</td>
                    <td>
                        {% for availability in coach.availabilities %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ availability.weekday.name }} {{ availability.startTime|format_time() }} - {{ availability.endTime|format_time() }} </li>
                        </ul>
                        {% endfor %}
                    </td>
                    <td>
                    {% if coach.coachBookings is empty %}
                         Aucun client
                    {% else %}
                        {% for booking in coach.coachBookings %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"> {{ booking.client.user.firstname }} {{ booking.client.user.lastname }}</li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

     <p class= "text-uppercase fw-bold fst-italic"><a href="{{ path('superadmin_index') }}">Retour à mon espace admin</a></p>
{% endblock %}