  <div class="row">
    {% for coach in coachs %}
    <div class="col-md-6 col-lg-3 mb-5">
      <div class="card bg-dark">
        {% if coach.photo == "" %}
            <img src="{{ asset('build/images/defaut-yoga.webp') }}" class="card-img-top" alt="coach">
        {% else %}
            <img src="{{ vich_uploader_asset(coach) }}" class="card-img-top" alt="coach">
        {% endif %}

        <div class="card-body">
          <h4 class="card-title text-success">{{ coach.user.firstname }}</h4>
          {% for activity in coach.activities %}
              <p class="card-text text-light text-uppercase fw-bold">{{ activity.name }}</p>
          {% endfor %}
          <p class="card-text text-light">{{ coach.biography }}</p>
        </div>
      </div>
    </div>
    {% else %}
    Pas de coachs !
    {% endfor %}
  </div>