
<section class="salles my-5 pt-5">
    <h2 class="text-light text-center "> LES ESPACES D'ENTRAINEMENT </h2>
    <p class="text-center text-light">Tu as des espaces libres dans ta structure et tu souhaites le mettre à disposition de nos coachs pour avoir de la visibilité ! C’est ici !</p>
    <div class="container-fluid py-5">
        <div class="row col-11 mb-5 mx-auto">
            <div class="col-lg-6 d-flex flex-column justify-content-center align-center">
                <!--Carousel-->
                <div id="carousel-training-space" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">
                        {% for space_category in space_categories %}
                        <div class="carousel-item {{ loop.first ? 'active' : '' }}">
                            <img src="{{ space_category.photo }}"
                                class="d-block mw-100 border border-success border-3 rounded"
                                alt="{{ space_category.name }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!--Carousel-->
            </div>
            <div class="col-lg-1">
                <p class="my-5"></p>
            </div>
            <div class="col-lg-5 py-3 d-flex flex-column justify-content-center align-center">
                <!--Training space: description -->
                {% for space_category in space_categories %}

                <div class="card text-center my-3 bg-dark space-card">

                    <div class="card-body btn border border-light rounded" data-bs-target="#carousel-training-space"
                        data-bs-slide-to="{{ loop.index - 1 }}" class="{{ loop.first ? 'active' : '' }}"
                        aria-current="{{ loop.first ? 'true' : '' }}" aria-label="Slide {{ loop.index }}">
                        <h3 class="card-title text-light"> {{ space_category.name }}</h3>
                        <p class="card-text text-center text-light d-none d-lg-block"> {{ space_category.description }} </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row col-11 text-center mx-auto my-5 d-grid gap-2 col-sm-6 col-xl-3">
            <a class="btn btn-primary" href="{{ path('training_space') }}" role="button">Voir plus de salles</a>
        </div>
    </div>
</section>