{% extends "layout.html.twig" %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="container min-vh-100">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}

		<h1>S'inscrire</h1>
		<div class="row d-flex justify-content-center">
			<div class="col-8 border border-1 border-dark shadow mb-5 m-3 p-4 bg-light">
				{{ form_start(registrationForm) }}
				{# {{ form_row(registrationForm.email, {'attr': {'placeholder': 'Jason'}}) }} #}
				{{ form_row(registrationForm.email, {'attr': {'placeholder': 'coachmoi@gmail.com'}}) }}
				{{ form_row(registrationForm.plainPassword) }}
				{{ form_row(registrationForm.firstname, {'attr': {'placeholder': 'Jason'}}) }}
				{{ form_row(registrationForm.lastname, {'attr': {'placeholder': 'Statham'}}) }}
				{{ form_row(registrationForm.telephone, {'attr': {'placeholder': '0607080910'}}) }}
				<div class="my-3">
				{{ form_row(registrationForm.registrationRole) }}
				</div>
				<div class="m-1 d-flex justify-content-end">
					{{ form_row(registrationForm.agreeTerms, {'label': 'Accepter les '}) }}
					<a class="ms-1 my-3" href="{{ path('cgu') }}">conditions générales d'utilisation</a>
				</div>



				<div class="m-1 d-flex justify-content-end">
					<button type="submit" class="btn btn-success d-flex justify-content-center">S'inscrire</button>
				</div>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
