{# Section: Mes disponibilités: afficher tous les disponibilités du coach #}
<div class="mes-availabilities border border-dark rounded m-1">
    <div class="profile-h2 border border-dark rounded d-flex align-items-center bg-dark w-75 p-0">
        <h2 class="m-2 text-truncate text-light"><i class="bi bi-calendar3 text-success"></i> Mes disponibilités</h2>
    </div>
        <div class="d-flex justify-content-end">
        <a href="{{ path('coach_availability_index') }}" class="btn btn-success m-3 text-light"><i class="bi bi-pencil-square text-white"></i> &nbsp; Changer mes disponibilités</a>
    </div>
    <div>
        <div class="bg-light m-3 border rounded">
            <table class="table text-center">
                <thead>
                    <tr class="fs-4">
                        <th scope="col" class="d-none d-md-block">#</th>
                        <th scope="col">Jour</th>
                        <th scope="col">De</th>
                        <th scope="col">À</th>
                    </tr>
                </thead>
                <tbody>
                    {% for availability in app.user.coach.availabilities %}
                        <tr class="fs-5">
                            <th scope="row" class="d-none d-md-block">{{ loop.index }}</th>
                            <td>{{ availability.weekday.name }}</td>
                            <td>{{ availability.startTime|format_time('short') }}</td>
                            <td>{{ availability.endTime|format_time('short') }}</td>
                        </tr>
                    {% else %}
                        <td colspan="4">
                            <div class="alert alert-danger m-3" role="alert">
                                Veuillez <a href="{{ path('coach_availability_new') }}" class="alert-link">renseigner vos disponibilités</a>.
                            </div>
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
