<div class="mes-informations container-fluid col-md-5 border border-dark rounded">
    <div class="profile-h2 border border-dark d-flex align-items-center bg-light w-75 p-0">
        <h2 class="m-2">Mes informations</h2>
        <i class="bi bi-pencil-square"></i>
    </div>
    <div>
        <div class="bg-light my-2">
            <p>Nom :</h3>
            <h3>{{ app.user.lastname }}</h3>
        </div>
        <div class="bg-light my-2">
            <p>Prénom :</p>
            <h3>{{ app.user.firstname }}</h3>
        </div>
        <div class="bg-light my-2">
            <p>Téléphone :</p>
            <h3>{{ app.user.telephone }}</h3>
        </div>
        <div class="bg-light my-2">
            <p>Email :</p>
            <h3>{{ app.user.email }}</h3>
        </div>
        <div class="bg-light my-2">
            <p>Date de naissance :</p>
            <h3>{{ app.user.coach.birthDate|date("d/m/Y") }}</h3>
        </div>
        <div class="bg-light my-2">
            <p>Diplôme :</p>
            <h3>{{ app.user.coach.qualification }}</h3>
        </div>
        <div class="bg-light my-2">
            <p>Equipement :</p>
            <h3>{{ app.user.coach.equipment }}</h3>
        </div>
        <div class="bg-light my-2">
            <p>Biographie :</p>
            <h3>{{ app.user.coach.biography }}</h3>
        </div>
            <p class="d-flex justify-content-end mx-5">Possède un véhicule ?
                {% if app.user.coach.hasVehicle %}
                    &nbsp; <i class="bi bi-check-circle-fill"></i>
                {% else %}
                    &nbsp; <i class="bi bi-x-circle-fill"></i>
                {% endif %}
            </p>
    </div>
</div>