<div class="mes-informations border border-dark rounded m-1">
    <div class="profile-h2 border border-dark d-flex align-items-center bg-dark rounded w-75 p-0">
        <h2 class="m-2 text-light"><i class="bi bi-person-lines-fill text-success"></i> Mes informations</h2>
    </div>
    <div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p> Nom :</p>
                <h5 class="text-start mx-5">{{ app.user.lastname }}</h5>
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p> Prénom :</p>
                <h5 class="text-start mx-5">{{ app.user.firstname }}</h5>
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p> Téléphone :</p>
                <h5 class="text-start mx-5">{{ app.user.telephone }}</h5>
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p> Email :</p>
                <h5 class="text-start mx-5">{{ app.user.email }}</h5>
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p> Date de naissance :</p>
                {% if app.user.coach %}
                    <h5 class="text-start mx-5">{{ app.user.coach.birthDate|date("d/m/Y") }}</h5>
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p> Diplôme :</p>
                {% if app.user.coach %}
                    <h5 class="text-start mx-5">{{ app.user.coach.qualification }}</h5>
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p> Équipement :</p>
                {% if app.user.coach %}
                    <h5 class="text-start mx-5">{{ app.user.coach.equipment }}</h5>
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p> Biographie :</p>
                {% if app.user.coach %}
                    <h5 class="text-start mx-5">{{ app.user.coach.biography }}</h5>
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3 border rounded">
                <p class="mx-5 p-2">
                    {% if app.user.coach %}
                        {% if app.user.coach.hasVehicle %}
                            <i class="bi bi-check-circle-fill text-success"></i> Possède un véhicule !
                        {% else %}
                            <i class="bi bi-x-circle-fill text-danger"></i>Ne possède pas de véhicule !!
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="my-2">
             <div class="bg-light m-3 border rounded">
                <p>Mes documents :</p>
                <div class= "documents d-flex flex-row mx-5">
                    <a class= "d-flex flex-column align-items-center text-dark" href="{{ path('cgu') }}">
                        <i class="h1 m-1 bi bi-file-earmark-text-fill"></i>
                        <p>CGU</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
