
{% extends 'layout_superadmin.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block content %}

    <h1 class="my-5">
        Gérer les réservations
    </h1>
    <div class="row mt-2 mb-2">
        <div class="col-10"><i class="bi bi-exclamation-circle-fill"></i> Recherche par statut :
        </div>
    </div>
    <div class="row mt-2 mb-2">
            <div class="col-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </div>
            <div class="col-7">
                <button class="btn bg-success text-light"><i class="bi bi-search text-white"></i> Rechercher</button>
                {{ form_end(form) }}
            </div>
        </div>
    <table class="table table-striped text-center bg-light mt-5">
        <thead>
            <tr>
                <th scope="col" class="bg-dark text-white">Client</th>
                <th scope="col" class="bg-dark text-white">Activité</th>
                <th scope="col" class="bg-dark text-white">Budget</th>
                <th scope="col" class="bg-dark text-white">Disponibilité</th>
                <th scope="col" class="bg-dark text-white">Statut</th>
                <th scope="col" class="bg-dark text-white">Coach</th>
                <th scope="col" class="bg-dark text-white">Salle</th>
                <th scope="col" class="bg-dark text-white">Actions</th>
            </tr>
        </thead>
        <tbody class="">
        {% for coach_booking in coach_bookings %}
            <tr class="align-middle">
                <td>{{ coach_booking.client.user.firstname }} {{ coach_booking.client.user.lastname }}</td>
                <td>{{ coach_booking.client.activity.name }}</td>
                <td>{{ coach_booking.client.budget }} €</td>
                <td>
                {% if coach_booking.client.availabilities is not null %}
                    {% for availability in coach_booking.client.availabilities %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                        {{ availability.weekday.name }}
                        {{ availability.startTime|format_time }} - {{ availability.endTime|format_time }}
                        </li>
                    </ul>
                    {% endfor %}
                {% else %}
                    Aucune
                {% endif %}
                </td>
                <td>
                   <form method="post" action="{{ path('cb_update_status', {"id": coach_booking.id}) }}">
                        <select name="bookingStatus" id="bookingStatus" class="bg-secondary p-1 m-1">
                            {% for status_detail in bookingStatus %}
                                {% if coach_booking.bookingStatus.status == status_detail.status %}
                                    <option value="{{ status_detail.id }}" selected>{{ status_detail.status }}</option>
                                {% else %}
                                    <option value="{{ status_detail.id }}">{{ status_detail.status }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input type="hidden" name="_token" value="{{ csrf_token('cb_update_status' ~ coach_booking.id) }}">
                            <button class="btn bg-success text-white fs-6"><i class="bi bi-toggle-on"></i> Modifier</button>
                    </form>
                </td>
                <td>
                    {% if coach_booking.coach %}
                       {{ coach_booking.coach.user.firstname }} {{ coach_booking.coach.user.lastname }}
                    {% endif %}
                </td>
                <td>
                    {% if coach_booking.trainingSpace %}
                        {{ coach_booking.trainingSpace.name }}
                    {% endif %}
                </td>

                <td>
                        <a href="{{ path("coach_booking_show", {"id": coach_booking.id}) }}" class="btn bg-success text-white fs-6"><i class="bi bi-eye-fill"></i> Voir la demande</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <p class= "text-uppercase fw-bold fst-italic"><a href="{{ path('superadmin_index') }}" class="btn btn-success text-dark"><i class="bi bi-arrow-counterclockwise text-dark"></i> Retour espace admin</a></p>
    </div>
{% endblock %}