
{% extends 'layout_superadmin.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block content %}

    <div class="container">
        <div class="row mt-2 mb-2">
            <div class="col-10"><i class="bi bi-exclamation-circle-fill"></i> Recherche par statut :
            </div>
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
            </div>
            <div class="col-7">
                <button class="btn bg-success text-light"><i class="bi bi-search text-white"></i> Rechercher</button>
                {{ form_end(form) }}
            </div>
        </div>

    <table class="table text-center bg-light">
        <thead>
            <tr>
                <th scope="col" class="bg-dark text-white">N°</th>
                <th scope="col" class="bg-dark text-white">Client</th>
                <th scope="col" class="bg-dark text-white">Date</th>
                <th scope="col" class="bg-dark text-white">Activité</th>
                <th scope="col" class="bg-dark text-white">Budget</th>
                <th scope="col" class="bg-dark text-white">Contact</th>
                <th scope="col" class="bg-dark text-white">Statut</th>
                <th scope="col" class="bg-dark text-white">Actions</th>
            </tr>
        </thead>
        <tbody class="">
        {% for coach_booking in coach_bookings %}
            <tr>
                <td scope="row">{{ coach_booking.id }}</td>
                <td class="my-auto">{{ coach_booking.client.user.firstname }} {{ coach_booking.client.user.lastname }}</td>
                <td>{{ coach_booking.createdAt|date("d/m/Y") }}</td>
                <td>{{ coach_booking.client.activity.name }}</td>
                <td>{{ coach_booking.client.budget }}</td>
                <td>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ coach_booking.client.user.email }} </li>
                        <li class="list-group-item">{{ coach_booking.client.user.telephone }} </li>
                    </ul>
                </td>
                <td class="align-self-center">
                    <p class="d-inline-flex text-success border border-success p-2 m-1">{{ coach_booking.bookingStatus.status }}</p>
                    <form method="post" action="{{ path('cb_update_status', {"id": coach_booking.id}) }}">
                        <select name="bookingStatus" id="bookingStatus" class="bg-secondary p-1 m-1">
                            <option value="">Mettre à jour</option>
                            {% for status_detail in bookingStatus %}
                            <option {% if coach_booking.bookingStatus.status == status_detail %} selected {% endif %} value="{{ status_detail.id }}">{{ status_detail.status }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="_token" value="{{ csrf_token('cb_update_status' ~ coach_booking.id) }}">
                        <button class="btn bg-success text-light fs-6">Valider</button>
                    </form>
                </td>
                <td>

                    <a href="{{ path("coach_booking_show", {"id": coach_booking.id}) }}" class="btn bg-success text-light fs-6 mt-4">Voir la demande</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <p class= "text-uppercase fw-bold fst-italic mt-5"><a href="{{ path('superadmin_index') }}">Retour à mon espace admin</a></p>
    </div>
{% endblock %}