{% extends 'layout_superadmin.html.twig' %}

{% block title %} Coachs for {{ activity.name }} {% endblock %}

{% block content %}
    <h1 class="mt-5 mb-3"> LISTE DE COACHS TROUVÉS </h1>
    <p class="text-center text-success fw-bold">Liste des coachs pour l'activité {{ activity.name }} de la Réservation No {{ coach_booking.id }} </h2>
    <h3 class="text-left">Client : {{ coach_booking.client.user.firstname }} {{ coach_booking.client.user.lastname }}</h3>
    <table class="table text-center bg-light border border-4">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Coach</th>
                <th scope="col">Tarif</th>
                <th scope="col">Disponibilités</th>
                 <th scope="col">Contact</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coach in coachs %}
            <tr>
                <td scope="row">{{ loop.index }}</td>
                <td>{{ coach.user.firstname }} {{ coach.user.lastname }}</td>
                <td>{{ coach.hourlyRate }}</td>
                <td>
                    <ul class="list-group list-group-flush">
                    {% for availability in coach.availabilities %}
                        <li class="list-group-item">{{ availability.weekday.name }} {{ availability.startTime|format_time() }} - {{ availability.endTime|format_time() }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ coach.user.email }} </li>
                        <li class="list-group-item">{{ coach.user.telephone }} </li>
                    </ul>
                </td>
                <td>
                    <a href="#" class="btn bg-success text-light fs-6">Choisir</a>
                </td>
            </tr>
        {% else %}
				<p class="text-center text-dark fw-bold">Pas de coach trouvé pour cette activité.</p>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}