{% extends 'layout_profile.html.twig' %}

{% block title %}Liste de mes disponibilités{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste de mes disponibilités</h1>

    <table class="table border border-2 rounded shadow">
        <thead>
            <tr>
                <th class="bg-dark text-white w-25">Jour</th>
                <th class="bg-dark text-white w-25">Heure de début</th>
                <th class="bg-dark text-white w-25">Heure de fin</th>
                <th class="bg-dark text-white w-25 text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for availability in app.user.coach.availabilities %}
            <tr>
                <td class="bg-light">{{ availability.weekday.name }}</td>
                <td class="bg-light">{{ availability.startTime ? availability.startTime|date('H:i:s') : '' }}</td>
                <td class="bg-light">{{ availability.endTime ? availability.endTime|date('H:i:s') : '' }}</td>
                <td class="bg-light d-flex justify-content-end">
                    <a href="{{ path('coach_availability_show', {'id': availability.id}) }}" class="btn btn-success text-white"><i class="bi bi-eye text-white"></i> Voir</a>
                    <a href="{{ path('coach_availability_edit', {'id': availability.id}) }}" class="btn btn-success text-white mx-2"><i class="bi bi-pencil-square text-success text-white"></i> Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="bg-light">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-6">
            <a href="{{ path('coach_availability_new') }}" class="btn btn-success m-2 text-white"><i class="bi bi-calendar2-plus text-white me-2"></i> Ajouter disponibilité</a>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a href="{{ path('profile_coach') }}" class="btn btn-success m-2"> <i class="bi bi-arrow-counterclockwise me-2"></i>Retour profil</a>
        </div>
    </div>
</div>
{% endblock %}
