{% extends 'layout_superadmin.html.twig' %}

{% block title %}Liste des activités{% endblock %}

{% block content %}
<div class="container">

    <h1>Liste des activités</h1>
    <table class="table text-center bg-light border rounded">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Mis en avant</th>
                <th class="text-center">Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td><img src="{{ vich_uploader_asset(activity) }}" width="100vh"></td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.description }}</td>
                <td class="d-flex">
                     <a href="{{ path('admin_activity_show', {'id': activity.id}) }}" class="btn btn-success text-light fs-6 me-3">Afficher</a>
                    <a href="{{ path('admin_activity_edit', {'id': activity.id}) }}" class="btn btn-success text-light fs-6">Éditer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">Aucune activité trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class= "btn btn-success text-light my-5" href="{{ path('admin_activity_new') }}">Ajouter une nouvelle activité</a>
    <p class="text-uppercase fw-bold fst-italic mb-5"><a href="{{ path('superadmin_index') }}">Retour à mon espace admin</a></p>
</div>
{% endblock %}
