{% extends 'layout_superadmin.html.twig' %}

{% block title %}Activités{% endblock %}

{% block content %}
<div class="container">
    <h1>Liste des activités</h1>
    <table class="table text-center bg-light border rounded">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Mis en avant</th>
                <th class="text-center">Actions</th>

            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td><img src="{{ vich_uploader_asset(activity) }}" width="100vh"></td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.description }}</td>
                <td>
                    <i class="bi bi-{{ activity.isfeatured ? 'check' : 'x' }}-circle-fill"></i>
                </td>
                <td class="fst-italic">
                    <a href="{{ path('admin_activity_edit', {'id': activity.id}) }}" class="btn btn-success text-light fs-6">Éditer</a>
                            {% if activity.clients|length > 0 %}
                                </br>Cette activité est actuellement pratiquée par un ou plusieurs clients
                            {% else %}
                                 {{ include('admin_activity/_delete_form.html.twig') }}
                            {% endif %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">Aucune activité trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class= "btn btn-success text-light my-5" href="{{ path('admin_activity_new') }}">Ajouter une nouvelle activité</a>
    <p class= "text-uppercase fw-bold fst-italic"><a href="{{ path('superadmin_index') }}" class="btn btn-success text-dark"><i class="bi bi-arrow-counterclockwise text-dark"></i> Retour espace admin</a></p>
</div>
{% endblock %}
