<div class="footer">
    <div class="row bg-dark m-0">
        <div class="col-lg-2 col-sm-12 mt-2  d-flex justify-content-center">
            <img src="{{ asset('build/images/coachmoi.png') }}" class="logo text-center" alt="logo"/>
        </div>
        <div class="col-lg-5 col-sm-12 d-flex justify-content-center align-items-center flex-column mt-3">
            <p> <a href="{{ path('coachs_index') }}" class="text-white fw-bold text-uppercase text-decoration-none">Coachs</a> </p>
            <p> <a href="{{ path('training_space') }}" class="text-white fw-bold text-uppercase text-decoration-none">Espaces d'entrainements</a> </p>
            <p> <a href="{{ path('contact') }}" class="text-white fw-bold text-uppercase text-decoration-none">Contact</a> </p>
        </div>
        <div class="col-lg-5 col-sm-12 mt-4 d-flex text-center">
            <div class="col-12 d-flex align-items-lg-end flex-column fw-bold text-white px-3 ">
            <p><a class="ms-1 text-reset text-decoration-none" href="{{ path('cgu') }}">Conditions générales d'utilisation</a></p>
            </div>
        </div>
    </div>
</div>