<nav class="navbar navbar-expand-xl navbar-light bg-dark">
	<div class="container-fluid">
		<img class="logo" src="{{ asset('build/images/coachmoi.png') }}" alt="logo-coach-moi">
		<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav me-auto my-2 my-lg-0 mx-auto">
				<li class="nav-item mx-3">
					<a class="nav-link text-center mx-3 fw-bold fst-italic" aria-current="page" href="{{ path('home') }}">Accueil</a>
				</li>
				<li class="nav-item text-center mx-3 fw-bold fst-italic">
					<a class="nav-link" href="{{ path('activités') }}">Activités</a>
				</li>
				<li class="nav-item text-center mx-3 fw-bold fst-italic">
					<a class="nav-link" href="{{ path('training_space') }}">Espaces d'entrainements</a>
				</li>
				<li class="nav-item text-center mx-3 fw-bold fst-italic">
					<a class="nav-link" href="{{ path('coachs_index') }}">Coachs</a>
				</li>
			</ul>
			<div class="d-flex justify-content-center align-items-center">
				<div class="navbar-nav">
                {% if not app.user %}
                    <a class="btn btn-success mx-1 button-login text-light" href="{{ path('app_register') }}">S'inscrire</a>
					<a class="btn btn-success mx-1 button-login text-light" href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}
				{% if app.user %}
				<div class="dropdown btn btn-success">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                           Bienvenue
                            <span class="text-warning">{{ app.user.firstname }}</span>
                        </a>
                        <ul class="dropdown-menu shadow-lg w-100" aria-labelledby="dropdownMenuLink">
                            {% if is_granted('ROLE_SUPERADMIN') %}
								<li>
							    	<a class="dropdown-item text-wrap text-dark py-2" href="{{ path('superadmin_index') }}">
									Mon espace admin</a>
								</li>
                                <li>
                                    <a class="dropdown-item text-wrap text-warning py-2" href="{{ path('coach_booking_index') }}">
                                        Gérer les demandes</a>
                                </li>
								<li>
							   		<a class="dropdown-item text-wrap text-dark py-2" href="{{ path('superadmin_show_clients') }}">
                                    	Nos clients</a>
                            	</li>
								<li>
							   		<a class="dropdown-item text-wrap text-dark py-2" href="{{ path('superadmin_show_coachs') }}">
                                    	Nos coachs</a>
                            	</li>

								<li>
							   		<a class="dropdown-item text-wrap text-dark py-2" href="{{ path('admin_space_index') }}">
                                    	Nos salles</a>
                            	</li>
                            {% elseif is_granted('ROLE_COACH') %}
								<li>
							   		<a class="dropdown-item text-wrap text-dark py-2" href="{{ path('profile_coach') }}">
                                    	Voir mon profil</a>
                            	</li>
								<li>
							   		<a class="dropdown-item text-wrap text-dark py-2" href="{{ path('coach_edit') }}">
                                    	Éditer mon profil</a>
                            	</li>
							{% elseif is_granted('ROLE_CLIENT') %}
								<li>
							   		<a class="dropdown-item text-wrap text-dark py-2" href="{{ path('profile_client') }}">
                                    	Voir mon profil</a>
                            	</li>
								<li>
							   		<a class="dropdown-item text-wrap text-dark py-2" href="">
                                    	Éditer mon profil</a>
                            	</li>
								{% endif %}
                            <li>
                                <a class="dropdown-item text-wrap text-danger py-2" href="{{ path('app_logout') }}">
                                    Déconnexion
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
			</div>
		</div>
	</div>
</nav>
