<nav class="navbar navbar-expand-xl navbar-light bg-dark">
	<div class="container-fluid">
		<a href="{{ path('home') }}"><img class="logo" src="{{ asset('build/images/coachmoi.png') }}" alt="logo-coach-moi"></a>
		<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav me-auto my-2 my-lg-0 mx-auto">
				<li class="nav-item mx-5">
					<a class="nav-link text-center mx-5 fw-bold fst-italic" aria-current="page" href="{{ path('superadmin_index') }}">Accueil Superadmin</a>
				</li>
				<li class="nav-item text-center mx-5 fw-bold fst-italic">
					<a class="nav-link" href="{{ path('superadmin_show_users') }}">Gestion des utilisateurs</a>
				</li>
				<li class="nav-item text-center mx-5 fw-bold fst-italic">
					<a class="nav-link" href="{{ path('coach_booking_index') }}">Gestion des réservations</a>
				</li>
			</ul>

			{#} dropdown {#}
			<div class="d-flex justify-content-center align-items-center">
				<div class="navbar-nav">
                {% if not app.user %}
                    <a class="btn btn-success mx-1 button-login text-light" href="{{ path('app_register') }}">S'inscrire</a>
					<a class="btn btn-success mx-1 button-login text-light" href="{{ path('app_login') }}">Se connecter</a>
                {% endif %}
				{% if app.user %}
				<div class="dropdown btn btn-success">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                           Bienvenue
                            <span class="text-warning">{{ app.user.firstname }}</span>
                        </a>
                        <ul class="dropdown-menu shadow-lg w-100" aria-labelledby="dropdownMenuLink">
                            {% if is_granted('ROLE_SUPERADMIN') %}
								<li>
							    	<a class="dropdown-item text-wrap text-white py-2 fw-bold" href="{{ path('superadmin_index') }}">
									<i class="bi bi-person-lines-fill text-success"></i> &nbsp; Espace admin</a>
								</li>
								<li>
							   		<a class="dropdown-item text-wrap text-white py-2 fw-bold" href="{{ path('superadmin_show_users') }}">
                                    <i class="bi bi-people-fill text-success"></i> &nbsp; Gérer role</a>
                            	</li>
								<li>
                                    <a class="dropdown-item text-wrap text-white py-2 fw-bold" href="{{ path('coach_booking_index') }}">
                                    <i class="bi bi-journal-richtext text-success"></i> &nbsp; Gérer demande</a>
                                </li>
								<li>
							   		<a class="dropdown-item text-wrap text-white py-2 fw-bold" href="{{ path('superadmin_show_clients') }}">
                                    <i class="bi bi-file-earmark-person-fill text-success"></i> &nbsp; Gérer client</a>
                            	</li>
								<li>
							   		<a class="dropdown-item text-wrap text-white py-2 fw-bold" href="{{ path('superadmin_show_coachs') }}">
                                    <i class="bi bi-trophy-fill text-success"></i> &nbsp; Gérer coach</a>
                            	</li>
								<li>
							   		<a class="dropdown-item text-wrap text-white py-2 fw-bold" href="{{ path('admin_space_index') }}">
                                    <i class="bi bi-geo-alt-fill text-success"></i> &nbsp; Gérer espace</a>
                            	</li>
								<li>
							   		<a class="dropdown-item text-wrap text-white py-2 fw-bold" href="{{ path('admin_activity_index') }}">
                                    <i class="bi bi-palette2 text-success"></i> &nbsp; Gérer activité</a>
                            	</li>
								{% endif %}
                            <li>
								<a class="dropdown-item text-wrap text-danger py-2 fw-bold" href="{{ path('app_logout') }}">
								<i class="bi bi-layer-backward text-danger"></i> &nbsp; Déconnexion</a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
			</div>
		</div>
	</div>
</nav>
{#}end of dropdown{#}
		</div>
	</div>
</nav>
