{% extends 'layout_admin.html.twig' %}

{% block title %}Admin - Client{% endblock %}

{% block information %}
    <div class ="d-flex align-items-baseline">
        <h2>Mes informations</h2>
        <a href="{{ path('client_edit', {'id': client.id}) }}"><i class="bi bi-pencil-square m-2"></i></a>
    </div>
    <div class="row row-cols g-4">
        <div class="col">
            <p>Prénom:</p>
            <p class="fw-bold">{{ client.user.firstname }}</p>
        </div>

        <div class="col">
            <p>Nom:</p>
            <p class="fw-bold">{{ client.user.lastname }}</p>
        </div>

        <div class="col">
            <p>Date de naissance:</p>
            <p class="fw-bold">{{ client.birthdate ? client.birthdate|date('d/m/Y') : '' }}</p>
        </div>

        <div class="col">
            <p>Téléphone:</p>
            <p class="fw-bold">{{ client.user.telephone }}</p>
        </div>

        <div class="col">
            <p>Email:</p>
            <p class="fw-bold">{{ client.user.email }}</p>
        </div>

        <div class="col">
            <p>Adresse:</p>
            <p class="fw-bold">{{ client.address }}</p>
        </div>
    </div>


    <div class="form-check">
        <label class="form-check-label" for="flexCheckChecked">
            Apte à la pratique sportive ?
        </label>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" {{ client.isApt ? 'checked' : '' }}>
    </div>



    <!--<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ client.birthdate ? client.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Goal</th>
                <td>{{ client.goal }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ client.budget }}</td>
            </tr>
            <tr>
                <th>GroupSize</th>
                <td>{{ client.groupSize }}</td>
            </tr>
            <tr>
                <th>IsApt</th>
                <td>{{ client.isApt ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>-->
{% endblock %}

{% block preferences %}
    <h2>Mes préférences</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ client.birthdate ? client.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Goal</th>
                <td>{{ client.goal }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ client.budget }}</td>
            </tr>
            <tr>
                <th>GroupSize</th>
                <td>{{ client.groupSize }}</td>
            </tr>
            <tr>
                <th>IsApt</th>
                <td>{{ client.isApt ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('admin/client/_delete_form.html.twig') }}
{% endblock %}

{% block planning %}
    <h2>Mon planning</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ client.birthdate ? client.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Goal</th>
                <td>{{ client.goal }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ client.budget }}</td>
            </tr>
            <tr>
                <th>GroupSize</th>
                <td>{{ client.groupSize }}</td>
            </tr>
            <tr>
                <th>IsApt</th>
                <td>{{ client.isApt ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('admin/client/_delete_form.html.twig') }}
{% endblock %}

{% block documents %}
    <h2>Mes documents</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ client.birthdate ? client.birthdate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <th>Goal</th>
                <td>{{ client.goal }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ client.budget }}</td>
            </tr>
            <tr>
                <th>GroupSize</th>
                <td>{{ client.groupSize }}</td>
            </tr>
            <tr>
                <th>IsApt</th>
                <td>{{ client.isApt ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('admin/client/_delete_form.html.twig') }}
{% endblock %}

