{% extends 'contact/layoutEmail.html.twig' %}
{% block title %}
  {{ parent() }}
{% endblock %}
{% block body %}
  <div style="background:black">
    <h3 style="color:white; padding-left:5px; height:50px; display:flex; align-items: center;">
      <img src="https://orleans-202103-coachmoi.phprover.wilders.dev/build/images/coachmoi.74a1fc14.png" style="float:top right" width="200">
      Nouveau message
    </h3>
  </div>
  <div style="margin-left:5px;">
    <h4>
      <p> De : {{ contact.firstname }} {{ contact.lastname }} </p>
      <p> Téléphone : {{ contact.phone }} </p>
      <p> E-mail : {{ contact.email }} </p>
      <p> Message : {{ contact.message }} </p>
    </h4>
  </div>
{% endblock %}
