{% extends 'layout_superadmin.html.twig' %}

{% block title %}Espaces d'entrainement {% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Gestion des espaces d'entrainements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Nom de l'espace</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training_space in training_spaces %}
            <tr>
                <td><img src="{{ vich_uploader_asset(training_space) }}" width="100vh"></td>
                <td>{{ training_space.name }}</td>
                <td>{{ training_space.address }}</td>
                <td class="d-flex">
                    <a class="btn bg-success text-light" href="{{ path('admin_space_edit', {'id': training_space.id}) }}">Éditer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn bg-success text-light" href="{{ path('admin_space_new') }}">Ajouter un espace</a>

    <p class= "text-uppercase fw-bold fst-italic"><a href="{{ path('superadmin_index') }}" class="btn btn-success text-dark"><i class="bi bi-arrow-counterclockwise text-dark"></i> Retour espace admin</a></p>
</div>
{% endblock %}
