{# Section: Mes disponibilités: afficher tous les disponibilités du client #}
<div class="mes-availabilities border border-dark rounded m-1">
    <div class="profile-h2 border border-dark rounded d-flex align-items-center bg-dark w-75 p-0">
        <h2 class="m-2 text-light"><i class="bi bi-calendar3 text-success me-2"></i> Mes disponibilités</h2>
    </div>
    <div class="d-flex justify-content-end">
        <a href="{{ path('client_availability_index') }}" class="btn btn-success m-3 text-light"><i class="bi bi-pencil-square text-white me-2"></i> Changer mes disponibilités</a>
    </div>
    <div>
          <div class="bg-light m-3 border rounded">
            <table class="table text-center">
                <thead>
                    <tr class="fs-4">
                        <th scope="col" class="d-none d-md-block">#</th>
                        <th scope="col">Jour</th>
                        <th scope="col">De</th>
                        <th scope="col">À</th>
                    </tr>
                </thead>
                <tbody>
                    {% if app.user.client %}
                        <tr class="fs-5">
                            {% for availability in app.user.client.availabilities %}
                                <th scope="row" class="d-none d-md-block">{{ loop.index }}</th>
                                <td>{{ availability.weekday.name }}</td>
                                <td>{{ availability.startTime|format_time('short') }}</td>
                                <td>{{ availability.endTime|format_time('short') }}</td>
                            {% else %}
                                <td colspan="4">
                                    <div class="alert alert-danger m-3" role="alert">
                                        Veuillez <a href="{{ path('client_availability_new') }}" class="alert-link">renseigner vos disponibilités</a>.
                                    </div>
                                </td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>

            {% endif %}
        </div>
    </div>
</div>