<div class="mes-preferences border border-dark rounded m-1">
    <div class="profile-h2 border border-dark d-flex align-items-center bg-light w-75 p-0">
        <h2 class="m-2 text-truncate">Mes préférences</h2>
    </div>
    <div>
        <div class="my-2">
            <div class="bg-light m-3">
                <p>Activité</p>
                <h3 class="mx-3">{{ app.user.client.activity.name }}</h3>
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3">
                <p>Niveau</p>
                {% if app.user.client.practicelevel.level is defined %}
                    <h3 class="mx-3">{{ app.user.client.practicelevel.level }}</h3>
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3">
                <p>Budget</p>
                <h3 class="mx-3">{{ app.user.client.budget }} €/mois</h3>
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3">
                <p>Groupe</p>
                <h3 class="mx-3">{{ app.user.client.groupsize }} personne(s)</h3>
            </div>
        </div>
        <div class="my-2">
            <div class="bg-light m-3">
                <p>Objectif sportif</p>
                <h3 class="mx-3">{{ app.user.client.goal }}</h3>
            </div>
        </div>
    </div>
</div>