<div class="mes-preferences border border-dark rounded m-1">
   <div class="profile-h2 border border-dark rounded d-flex align-items-center bg-dark w-75 p-0">
        <h2 class="m-2 text-truncate text-light"><i class="bi bi-heart-fill text-success me-2"></i> Mes préférences</h2>
   </div>
<div>
        {# Activity #}
        {% if app.user.client.activity is null %}
            <div class="my-2">
                <div class="bg-light m-3 border border-3 rounded border-danger">
                    <p>Activité :</p>
                    <div class="alert alert-danger mx-3" role="alert">Veuillez choisir votre activité.</div>
            </div>
        </div>
        {% else %}
        <div class="my-2">
           <div class="bg-light m-3 border rounded">
                <p>Activité :</p>
                <h3 class="text-start mx-5">{{ app.user.client.activity.name }}</h3>
            </div>
        </div>
        {% endif %}

        {# Practice Level #}
        <div class="my-2">
            {% if app.user.client.practicelevel is null %}
                <div class="bg-light m-3 border border-3 rounded border-danger">
                    <p>Niveau :</p>
                    <div class="alert alert-danger mx-3" role="alert">Veuillez indiquer votre niveau.</div>
                </div>
            {% else %}
                <div class="bg-light m-3 border rounded">
                    <p>Niveau :</p>
                    <h3 class="text-start mx-5">{{ app.user.client.practicelevel.level }}</h3>
                </div>
            {% endif %}
        </div>

        {# Budget #}
        <div class="my-2">
            {% if app.user.client.budget is null %}
                <div class="bg-light m-3 border border-3 rounded border-danger">
                    <p>Budget :</p>
                    <div class="alert alert-danger mx-3" role="alert">Veuillez indiquer votre budget.</div>
                </div>
            {% else %}
                <div class="bg-light m-3 border rounded">
                        <p>Budget :</p>
                        <h3 class="text-start mx-5">{{ app.user.client.budget }} €/mois</h3>
                </div>
            {% endif %}
        </div>

        {# Groupe #}
        <div class="my-2">
            {% if app.user.client.budget is null %}
                <div class="bg-light m-3 border border-3 rounded border-danger">
                    <p>Groupe :</p>
                    <div class="alert alert-danger mx-3" role="alert">Veuillez indiquer le nombre de personnes à inscrire.</div>
                </div>
            {% else %}
                <div class="bg-light m-3 border border-3 rounded border-danger">
                    <p>Groupe :</p>
                    <h3 class="text-start mx-5">{{ app.user.client.groupsize }} personne(s)</h3>
                </div>  
            {% endif %}
        </div>

        {# Objectif #}
        <div class="my-2">
            {% if app.user.client.budget is null %}
                <div class="bg-light m-3 border border-3 rounded border-danger">
                    <p>Objectif sportif :</p>
                    <div class="alert alert-danger mx-3" role="alert">Veuillez indiquer votre objectif.</div>
                </div>
            {% else %}
                <p>Objectif sportif :</p>
                <h3 class="text-start mx-5">{{ app.user.client.goal }}</h3>
            {% endif %}
        </div>
    </div>
</div>